@charset "UTF-8";

body {
    width: 1200px;
    max-width: 100%;
    margin: 20px;
    background-color: whitesmoke;
    margin: auto;
}
.login a{
    text-decoration: none;
    color: black;
    margin: auto;
}
.valaszok{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 10px;

}
.kerdoiv{
    padding: 10px;
    margin: 10px;

}
.valasz{

    border: 1px solid gray;
    border-radius: 15px;
    background-color: rgb(205, 231, 241);
    padding: 10px;
    margin: 5px;
}
.kerdes{
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(104, 6, 6);
    color: honeydew;
    padding: 10px;
    margin: 5px;
}
  
#kategoria{
    border: 1px solid gray;
    border-radius: 15px;
    background-color: rgb(205, 231, 241);
    padding: 10px;
    margin: 10px;
}
@media screen and (max-width: 800px) {

    .valaszok {
        display: grid;
        grid-template-columns: 1fr;
        
    }
}